html {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  padding: 35px;  
}

.title{
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 150%;
  font-weight: bold;
}

.fName, .cpf, .birth, .gender, .email, .password, .confirm_password{
  padding-bottom: 20px;  
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button{
  cursor: pointer;  
}