body{
    font-family: 'Montserrat', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

.content{
    display: flex;
}

.content .headers{
    display: flex;
    flex-direction: row;
}

.register, .games, .store, .about{
    height: 185.75px;
    display: grid;
    place-items: center;
    padding-top: 10px;
    padding-left: 45px;
}


.logo{
    margin-top: 38px;
    max-width: 80px;
    margin-bottom: 20px;
    
}

.side_menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.side_menu ul{
    display: flex;
    flex-direction: column;
    filter: invert(1);
    gap: 20px;     
}

.side_menu .icon{
    width: 30px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    filter: invert(1);
}

.side_menu .icon:hover{
    transform: scale(1.2);
}
